/**
  CUSTOM FONT FAMILY

  We don't want to load many fonts on your site so we stay classic.
  You can add your custom fonts here and/or define your own fonts family variables.
*/
$font-base: Kelson, 'Kelson Sans', -apple-system, Helvetica, Arial, sans-serif;
$btn-font-family: 'ATC-Harris', Menlo, 'Courier New', Courier, monospace;


/**
  ICONS FONT
*/
@font-face {
  font-family: "Snipcart";
  src: url('/fonts/snipcart/Snipcart.woff?94043836') format("woff"),
     url('/fonts/snipcart/Snipcart.ttf?94043836') format("truetype");
  font-weight: normal;
  font-style: normal;
}


/**
  FONT HELPERS

  If you use custom fonts and you don't want browser side weighted/italic fonts:
  - remove font-weight (or add font-weight: normal for example)
  - add your font-family. Ex: font-family: 'myFont-bold';
*/
@mixin font-bold {
  font-weight: 700;
}


/**
  FONT SIZES
*/
$fontsize: (
  action: (
    small: 14px
  ),
  button: (
    base: 14px
  ),
  error: (
    base: 16px
  ),
  flash: (
    base: 13px
  ),
  footer: (
    base: 11px
  ),
  form: (
    small: 14px,
    base: 16px
  ),
  header: (
    small: 14px,
    large: 30px
  ),
  product: (
    base: 14px,
    large: 20px,
    icon: 30px
  ),
  quantity-trigger: (
    large: 18px,
    x-large: 22px
  ),
  reset: (
    base: 16px,
    large: 18px
  ),
  static: (
    small: 14px,
    base: 14px
  ),
  step: (
    small: 14px,
    icon: 34px
  ),
  table: (
    small: 12px,
    base: 14px,
    large: 20px
  ),
  discount: (
    base: 20px,
    icon: 20px
  )
);
